<h1 class="themed-label text-center"><%= @user.name %>'s Status of Leave Taken</h1>
<div class="panel callout radius">
	<div id="user-leave-count-chart" data-user_id="<%= @user.id %>" data-year='2014' data-meta='true'>
		
	</div>
</div>