<h1 class="text-center">Editing leave_application</h1>
<div class="row">
	<div class="large-5 large-offset-4 columns">
		<div class="container panel callout radius">
			<%= render 'form' %>
		</div>
	</div>
</div>
<div class="row">
	<div class="large-5 large-offset-4 columns">
		<div class="row">
			<div class="large-6 columns">
				<%= link_to 'Show', @leave_application ,class: 'button large alert text-center' %> 
			</div>
			<div class="large-6 columns">
				<%= link_to 'Back', leave_applications_path , class: 'button large success text-left' %>
			</div>
			
		</div>
	</div>
</div>

