<div class="container">
	<div class="panel callout radius">
		<div class="row">
			<div class="large-6 columns">
				<h3 class="text-center">Total Leaves Count By Month</h3>
				<div id="leave-count-chart" data-year='2014' data-meta='true'></div>
			</div>
			<div class="large-6 columns">
				<h3 class="text-center">Users</h3>
				<% User.all.in_groups_of(4,false).each do|users| %>
				 	<div class="row">
					<% for user in users %>
						<div class="large-3 columns">
							<%= link_to user.name, "#",class: "user-for-leave",data: {id: user.id}%>
						</div>
					<% end %>
					</div>
				<% end %>
			</div>
		</div>
		<div class="row">
			<div class="large-6 columns" id="user-leave-count-chart">
				
			</div>
		</div>
	</div>
</div>
