// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.user-show-container{
	width: 500px;
	margin: 0 auto;
}

.avatar-image{
	width: 100px;
	height: 100px;
}